.loader {
  width: 60px;
  aspect-ratio: 4;
  --c: #fff 90%, #0000;
  background: radial-gradient(circle closest-side, var(--c)),
    radial-gradient(circle closest-side at left 6px top 50%, #ff2a00 90%, #0000),
    radial-gradient(
      circle closest-side at right 6px top 50%,
      #00a3ff 90%,
      #0000
    );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: l4 0.7s infinite alternate;
}
@keyframes l4 {
  to {
    width: 25px;
    aspect-ratio: 1;
  }
}

.loader-small {
  width: 30px; /* Smaller width */
  aspect-ratio: 4;
  --c: #fff 90%, #0000;
  background:
    radial-gradient(circle closest-side, var(--c)),
    radial-gradient(
      circle closest-side at left 3px top 50%,
      #ff2a00 90%,
      #0000
    ),
    /* Adjusted for smaller size */
      radial-gradient(
        circle closest-side at right 3px top 50%,
        #00a3ff 90%,
        #0000
      ); /* Adjusted for smaller size */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: l4-small 0.7s infinite alternate; /* New animation for smaller loader */
}

@keyframes l4-small {
  to {
    width: 12.5px; /* Smaller width */
    aspect-ratio: 1;
  }
}
